user-groups.dev.yaml
user-groups.yaml
orchestration.yaml
my-archives
*.pyc
.DS_Store
secrets/*
*.log
__pycache__
.pytest_cache
.env
.env.dev
.env.prod
*.db
redis/data/*
.ipynb_checkpoints*
app/user-groups.yaml
app/user-groups.dev.yaml
wit*
app/crawls
.coverage
.pytest_cache/
htmlcov
local_archive
local_archive_test
*db-wal
*db-shm
copy-files.sh
temp/
.python-version
orchestration2.yaml