orchestration.yaml
my-archives
*.pyc
.DS_Store
secrets
*.log
__pycache
.pytest_cach
.env
.env.dev
.env.prod
*.db
redis/data/*
.ipynb_checkpoints*
src/user-groups.yaml
src/user-groups.dev.yaml
wit*
src/crawls
.coverage
.pytest_cache/*
htmlcov
local_archive